.container {
  display: flex;
  /* grid-template-columns: 207px auto; */
  /* grid-template-rows: 32px auto; */
}

.header {
  grid-row: 1;
  width: 100%;
}

.logo {
  grid-column: 1;
  /* order:0; */
  object-fit: contain;
  height: 100%;
  width: 75%;
}
.sidePane {
  /* grid-column: 1; */
  order:0;
  top: 32px;
  grid-row: 2;
  height: 100%;
  background-color: black;
}

.main {
  /* grid-column: 2; */
  /* grid-row: 2; */
  margin-top: 80px;
  margin-left:15px;
  order:1;
  width:100%;
  background-color: whitesmoke;
  height: 100vh;
}
